.apresentacao {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 20px;
}

.card-centralizado {
  width: 300px;
  text-align: center;
}

.foto {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-top: 15px;
  object-fit: cover;
  border: 2px solid #3880ff;
}
